body {
    background-image: url('./images/temp-background.jpg');
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: scroll;
}
.title-span {
    display: flex;
    justify-content: center;
}

.title {
    color: rgb(255, 136, 0);
    background-color: rgb(64, 173, 224);
    font-size: 45px;
    font-weight: 750;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    border: 5px solid orange;
    border-radius: 10px;
    width: 650px;
    vertical-align: middle;
}

.pre-inputs {
    display: flex;
    background-color: rgba(80, 75, 75, 0.99);
    height: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
    border: 5px solid black;
    border-radius: 15px;
    justify-content: center;
}

.num-ingredients {
    font-weight: 750;
    align-self: center;
    background-color: white;
    border: 3px solid black;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

.original-servings {
    font-weight: 750;
    align-self: center;
    background-color: white;
    border: 3px solid black;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

.new-servings {
    font-weight: 750;
    align-self: center;
    background-color: white;
    border: 3px solid black;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}
.ingredients-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ingredients-input-bar {
    display: flex;
    background-color: rgb(35, 108, 190);
    width: 500px;
    justify-content: center;
    align-content: center;
    border: 5px solid tomato;
    border-radius: 5px;
    margin-bottom: 30px;
    height: 65px;
    justify-content: space-around;
}

.input {
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
}

.new-quantity {
    color: orange;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
}
